div#load-page {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-between;
}

div#load-page h1#number-count {
	font-size: 4em;
	margin: 30vh 0;
}

div#load-page p {
	line-height: 24px;
	animation: resize 1s ease-out infinite;
	padding: 50px 0;
}

@keyframes resize {
	0% { font-size: 1.1em; }
	50% { font-size: 1em; }
	100% { font-size: 1.1em; }
}

